<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @translation.content %>
</p>

<p>
  <strong>Author name:</strong>
  <%= @translation.author_name %>
</p>

<%= link_to 'Edit', edit_translation_path(@translation) %> |
<%= link_to 'Back', translations_path %>
