<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @interpretation.name %>
</p>

<p>
  <strong>Permalink:</strong>
  <%= @interpretation.permalink %>
</p>

<p>
  <strong>Language:</strong>
  <%= @interpretation.language %>
</p>

<%= link_to 'Edit', edit_interpretation_path(@interpretation) %> |
<%= link_to 'Back', interpretations_path %>
